<!doctype html>

<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  <div class="wrapper">

```
<header>
  <h1>{{ site.title }}</h1>

  <p>{{ site.description }}</p>

  <nav>
    <h3>Navigation</h3>

```
<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/profile.html' | relative_url }}">Professional Profile</a></li>
  <li><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
  <li><a href="{{ '/blog.html' | relative_url }}">Writing</a></li>
</ul>

<h3>Connect</h3>

<ul>
  <li>Resume</li>
  <li><a href="YOUR-LINKEDIN-URL-HERE">LinkedIn</a></li>
</ul>
```

  </nav>
</header>


<section>
  {{ content }}
</section>
```

  </div>
</body>
</html>
